# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/versions

# next.js
/.next/
/out/

# production
/build

# env files
.env
.env.local
.env.*.local

# database
*.db
*.db-shm
*.db-wal

# python reference file (personal, not for repo)
*.py

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts
